<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="layouts/header :: myheader"></div>

<style>
    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
        border-radius: 5px;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    /* Add some padding inside the card container */
    .card-body {
        padding: 2px 16px;
    }

    /* Solid border */
    hr.solid {
        border-top: 3px solid #bbb;
    }

    #navi ul{
        display: flex;
    }

    #navi ul{
        list-style: none;
        padding: 5px;
    }

    #navi li{
        margin:0 10px;
    }
    #cardLeuA li{
        display: inline-block;
        font-size: medium;
    }

    #optiuniCaminLeuA, #optiuniCaminLeuC, #optiuniCaminP20, #optiuniCaminP23{
        padding: 0;
        margin: 20px;
        list-style: square;
    }
</style>

<!-- ------------------------------------ ABOVE IS STYLING, DOWN IS INFO ------------------------------------ -->

<html>

    <body>

        <header>

            <nav class="fixed-top navbar navbar-dark bg-dark navbar-expand" id="navi">
                <a class="navbar-brand" href="https://curs.upb.ro/">
                    <span class="fa fa-university"></span> E-Learning Platform
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Acasa<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/menu">Meniu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/admin">Pagina principala</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </header>

        <div class="card-deck" style="padding-top: 50px">
            <div class="card bg-light text-left">
                <div class="card-body">
                    <p class="card-text" id="cardLeuA">
                        <h3><b>Camin:</b> Leu A</h3>
                        <ul id="optiuniCaminLeuA">
                            <li style="font-size: 19px">
                                <span>
                                    <b id="textLeuA" style="font-size: 25px">Lista aplicantilor: </b>
                                    <a href="/admin/camine/leuAlist">
                                        <i class="fas fa-list-ol ml-2 fa-lg" style="color: indigo"></i>
                                    </a>
                                </span>
                            </li>
                            <li style="font-size: 19px">
                                <b style="font-size: 25px">Info camin:</b>
                                <span th:if="${leuA.checkIfValuesAreZero()}" style="color: darkred">needitat</span>
                                <span th:unless="${leuA.checkIfValuesAreZero()}" style="color: darkgreen">editat</span>

                                <!-- edit and update -->
                                <a th:if="${leuA.checkIfValuesAreZero()}" th:href="@{/admin/camine/edit/{caminId}(caminId=${leuA.getId()})}">
                                    <i class="fas fa-sliders-h ml-2 fa-lg" style="color: darkred"></i>
                                </a>
                                <a th:unless="${leuA.checkIfValuesAreZero()}" th:href="@{/admin/camine/edit/{caminId}(caminId=${leuA.getId()})}">
                                    <i class="fas fa-sliders-h ml-2 fa-lg" style="color: darkgreen"></i>
                                </a>

                                <!-- clear -->
                                <a th:if="${leuA.checkIfValuesAreZero()}" th:href="@{/admin/camine/clear/{caminId}(caminId=${leuA.getId()})}">
                                    <i class="fas fa-eraser ml-2 fa-lg" style="color: darkred"></i>
                                </a>
                                <a th:unless="${leuA.checkIfValuesAreZero()}" th:href="@{/admin/camine/clear/{caminId}(caminId=${leuA.getId()})}">
                                    <i class="fas fa-eraser ml-2 fa-lg" style="color: darkgreen"></i>
                                </a>
                            </li>
                         </ul>
                    </p>
                </div>
            </div>
            <div class="card bg-light text-left">
                <div class="card-body">
                    <p class="card-text">
                        <h3><b>Camin:</b> Leu C</h3>
                        <ul id="optiuniCaminLeuC">
                            <li style="font-size: 19px">
                                    <span>
                                        <b id="textLeuC" style="font-size: 25px">Lista aplicantilor: </b>
                                        <a href="/admin/camine/leuClist">
                                            <i class="fas fa-list-ol ml-2 fa-lg" style="color: indigo"></i>
                                        </a>
                                    </span>
                            </li>
                            <li style="font-size: 19px">
                                <b style="font-size: 25px">Info camin:</b>
                                <span th:if="${leuC.checkIfValuesAreZero()}" style="color: darkred">needitat</span>
                                <span th:unless="${leuC.checkIfValuesAreZero()}" style="color: darkgreen">editat</span>

                                <!-- edit and update -->
                                <a th:if="${leuC.checkIfValuesAreZero()}" th:href="@{/admin/camine/edit/{caminId}(caminId=${leuC.getId()})}">
                                    <i class="fas fa-sliders-h ml-2 fa-lg" style="color: darkred"></i>
                                </a>
                                <a th:unless="${leuC.checkIfValuesAreZero()}" th:href="@{/admin/camine/edit/{caminId}(caminId=${leuC.getId()})}">
                                    <i class="fas fa-sliders-h ml-2 fa-lg" style="color: darkgreen"></i>
                                </a>

                                <!-- clear -->
                                <a th:if="${leuC.checkIfValuesAreZero()}" th:href="@{/admin/camine/clear/{caminId}(caminId=${leuC.getId()})}">
                                    <i class="fas fa-eraser ml-2 fa-lg" style="color: darkred"></i>
                                </a>
                                <a th:unless="${leuC.checkIfValuesAreZero()}" th:href="@{/admin/camine/clear/{caminId}(caminId=${leuC.getId()})}">
                                    <i class="fas fa-eraser ml-2 fa-lg" style="color: darkgreen"></i>
                                </a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="card bg-light text-left">
                <div class="card-body">
                    <p class="card-text">
                        <h3><b>Camin:</b> P20</h3>
                        <ul id="optiuniCaminP20">
                            <li style="font-size: 19px">
                                <span>
                                    <b id="textP20" style="font-size: 25px">Lista aplicantilor: </b>
                                    <a href="/admin/camine/P20list">
                                        <i class="fas fa-list-ol ml-2 fa-lg" style="color: indigo"></i>
                                    </a>
                                </span>
                            </li>
                            <li style="font-size: 19px">
                                <b style="font-size: 25px">Info camin:</b>
                                <span th:if="${p20.checkIfValuesAreZero()}" style="color: darkred">needitat</span>
                                <span th:unless="${p20.checkIfValuesAreZero()}" style="color: darkgreen">editat</span>

                                <!-- edit and update -->
                                <a th:if="${p20.checkIfValuesAreZero()}" th:href="@{/admin/camine/edit/{caminId}(caminId=${p20.getId()})}">
                                    <i class="fas fa-sliders-h ml-2 fa-lg" style="color: darkred"></i>
                                </a>

                                <a th:unless="${p20.checkIfValuesAreZero()}" th:href="@{/admin/camine/edit/{caminId}(caminId=${p20.getId()})}">
                                    <i class="fas fa-sliders-h ml-2 fa-lg" style="color: darkgreen"></i>
                                </a>

                                <!-- clear -->
                                <a th:if="${p20.checkIfValuesAreZero()}" th:href="@{/admin/camine/clear/{caminId}(caminId=${p20.getId()})}">
                                    <i class="fas fa-eraser ml-2 fa-lg" style="color: darkred"></i>
                                </a>
                                <a th:unless="${p20.checkIfValuesAreZero()}" th:href="@{/admin/camine/clear/{caminId}(caminId=${p20.getId()})}">
                                    <i class="fas fa-eraser ml-2 fa-lg" style="color: darkgreen"></i>
                                </a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="card bg-light text-left">
                <div class="card-body">
                    <p class="card-text">
                        <h3><b>Camin:</b> P23</h3>
                        <ul id="optiuniCaminP23">
                            <li style="font-size: 19px">
                                <span>
                                    <b id="textP23" style="font-size: 25px">Lista aplicantilor: </b>
                                    <a href="/admin/camine/P23list">
                                        <i class="fas fa-list-ol ml-2 fa-lg" style="color: indigo"></i>
                                    </a>
                                </span>
                            </li>
                            <li style="font-size: 19px">
                                <b style="font-size: 25px">Info camin:</b>
                                <span th:if="${p23.checkIfValuesAreZero()}" style="color: darkred">needitat</span>
                                <span th:unless="${p23.checkIfValuesAreZero()}" style="color: darkgreen">editat</span>

                                <!-- edit and update -->
                                <a th:if="${p23.checkIfValuesAreZero()}" th:href="@{/admin/camine/edit/{caminId}(caminId=${p23.getId()})}">
                                    <i class="fas fa-sliders-h ml-2 fa-lg" style="color: darkred"></i>
                                </a>
                                <a th:unless="${p23.checkIfValuesAreZero()}" th:href="@{/admin/camine/edit/{caminId}(caminId=${p23.getId()})}">
                                    <i class="fas fa-sliders-h ml-2 fa-lg" style="color: darkgreen"></i>
                                </a>

                                <!-- clear -->
                                <a th:if="${p23.checkIfValuesAreZero()}" th:href="@{/admin/camine/clear/{caminId}(caminId=${p23.getId()})}">
                                    <i class="fas fa-eraser ml-2 fa-lg" style="color: darkred"></i>
                                </a>
                                <a th:unless="${p23.checkIfValuesAreZero()}" th:href="@{/admin/camine/clear/{caminId}(caminId=${p23.getId()})}">
                                    <i class="fas fa-eraser ml-2 fa-lg" style="color: darkgreen"></i>
                                </a>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

    </body>

</html>