<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:replace="layouts/header :: myheader"></div>

<style>
    #welcome-message{
        font-family: "Times New Roman",serif;
        font-weight: bolder;
    }

    #navi ul{
        display: flex;
    }

    #navi ul{
        list-style: none;
        padding: 5px;
    }

    #navi li{
        margin:0 10px;
    }
</style>

<!-- ------------------------------------ ABOVE IS STYLING, DOWN IS INFO ------------------------------------ -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <nav class="fixed-top navbar navbar-dark bg-dark navbar-expand" id="navi">
        <a class="navbar-brand" href="https://curs.upb.ro/">
            <span class="fa fa-university"></span> E-Learning Platform
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/">Homepage<span class="sr-only">(current)</span></a>
                </li>

                <div th:switch="${authority}">
                    <li th:case="'STUDENT'" class="nav-item">
                        <a class="nav-link" href="/student">Student Page</a>
                    </li>

                    <li th:case="'ADMIN'" class="nav-item">
                        <a class="nav-link"  href="/admin">Admin Page</a>
                    </li>

                    <li th:case="'ASSISTANT'" class="nav-item">
                        <a class="nav-link"  href="/admin">Assitant Page</a>
                    </li>
                </div>

            </ul>
        </div>
    </nav>

    <div th:switch="${isLoggedStandardAcc}" id="welcome-message" style="padding-top: 50px">
        <h1>

            <p th:case="'true'">
                Salutare drag coleg, <td th:text="${loggedStudentAccount}"></td>
            </p>
            <p th:case="'false'">
                Salutare drag student, <td th:text="${loggedStudentAccount.getNume()}"></td> <td th:text="${loggedStudentAccount.getPrenume()}"></td>
            </p>
        </h1>
    </div>

</head>

<body>

    <div style="padding-top: 20px" class="container align-bottom">
        <form class="form-signin" method="get" action="/logout">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
        </form>
    </div>

</body>

