<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="layouts/header :: myheader"></div>

<!-- ------------------------------------ ABOVE IS STYLING, DOWN IS INFO ------------------------------------ -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <nav class="fixed-top navbar navbar-dark bg-dark navbar-expand" aria-label="Index navigation">
        <a class="navbar-brand" href="https://curs.upb.ro/">
            <span class="fa fa-university"></span> E-Learning Platform
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/login"> Login Page </a>
                </li>
            </ul>

        </div>

    </nav>

</head>

<body>
<div class="container">
    <form class="card-body form-signin" method="post" action="/login">
        <h2 class="form-signin-heading"></h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        </p>

        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        </p>

        <p>
            Remember me?
            <input type="checkbox" id="remember-me" name="remember-me" class="form-control">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>
</div>

</body>