<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="layouts/header :: myheader"></div>

<!-- ------------------------------------ ABOVE IS STYLING, DOWN IS INFO ------------------------------------ -->
<html>

    <head>
        <nav class="fixed-top navbar navbar-dark bg-dark navbar-expand">
            <a class="navbar-brand" href="https://curs.upb.ro/">E-Learning Platform</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/menu">Menu Page</a>
                    </li>

                    <div th:switch="${isAdmin}">
                        <li class="nav-item" th:case="'admin'">
                            <a class="nav-link" aria-current="page" href="/admin">Admin Page</a>
                        </li>

                        <li class="nav-item" th:case="'student'">
                            <a class="nav-link" aria-current="page" href="/student">Student Page</a>
                        </li>
                    </div>

                </ul>
            </div>
        </nav>
    </head>

    <body>
        <table class="table table-striped table-responsive" style="padding-top:50px">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nume</th>
                    <th>Prenume</th>
                    <th>Grupa</th>
                    <th>Serie</th>
                    <th>An</th>
                    <th>Medie</th>
                    <th>MyToken</th>
                    <div th:switch="${isAdmin}">
                        <p th:case="'admin'">
                            <th>Edit</th>
                            <th>Delete</th>
                        </p>
                    </div>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tempStudent:${listOfStudents}">
                    <td th:text="${tempStudent.getId()}"></td>
                    <td th:text="${tempStudent.getNume()}"></td>
                    <td th:text="${tempStudent.getPrenume()}"></td>
                    <td th:text="${tempStudent.getGrupa()}"></td>
                    <td th:text="${tempStudent.getSerie()}"></td>
                    <td th:text="${tempStudent.getAn()}"></td>
                    <td th:text="${tempStudent.getMedie()}"></td>
                    <td th:text="${tempStudent.getMyToken()}"></td>
                    <div th:switch="${isAdmin}">
                        <p th:case="'admin'">
                            <td><a th:href="@{/admin/students/edit/{studentId}(studentId=${tempStudent.getId()})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                            <td><a th:href="@{/admin/students/delete/{studentId}(studentId=${tempStudent.getId()})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                        </p>
                    </div>
                </tr>
            </tbody>
        </table>

    </body>

</html>