<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="layouts/header :: myheader"></div>

<!-- ------------------------------------ ABOVE IS STYLING, DOWN IS INFO ------------------------------------ -->

<html>

    <head>

        <nav class="fixed-top navbar navbar-dark bg-dark navbar-expand">
            <a class="navbar-brand" href="https://curs.upb.ro/">E-Learning Platform</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/menu">Menu Page</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/student/students">Students List</a>
                    </li>
                </ul>
            </div>
        </nav>

    </head>

    <body>

    </body>

</html>

